.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.freeBox {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 75vh;
  box-shadow: 15px 15px 40px 4px #1f7ebd33;
  background: url("/plasmic/cash_flow/images/waves.svg") left 60% top -45% / 150% 150% repeat-x,
    url("/plasmic/cash_flow/images/linespng.png") 0% 0% / 18% 18% repeat, #ffffff;
  transition-property: all;
  transition-duration: 0.3s;
  position: relative;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 2em 4em 8em;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.root:hover .freeBox {
  transform: scaleX(1.02) scaleY(1.02) scaleZ(1.02);
  transform-style: preserve-3d;
}
.root:hover .freeBox * {
  transform-style: preserve-3d;
}
.title {
  display: block;
  font-size: 1.5vw;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.75;
  color: rgba(0, 128, 214, 1);
  align-self: center;
  width: auto;
  text-align: center;
}
.name:global(.__wab_instance) {
  position: relative;
  margin-top: calc(3em + 0px) !important;
  margin-right: 3em;
  margin-bottom: 3em;
  margin-left: 3em;
  width: 24vw;
}
.cashAmount:global(.__wab_instance) {
  position: relative;
  margin-top: calc(0em + 0px) !important;
  margin-right: 0em;
  margin-bottom: 3em;
  margin-left: 0em;
  width: 24vw;
}
.description:global(.__wab_instance) {
  position: relative;
  width: 24vw;
}
.submit:global(.__wab_instance) {
  position: relative;
  margin-top: calc(4em + 0px) !important;
  margin-right: 4em;
  margin-bottom: 4em;
  margin-left: 4em;
}
