.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.rectangle28 {
  box-shadow: 0px 5px 25px 0px rgba(115, 199, 255, 1);
  background: rgba(69, 178, 251, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.2s;
  cursor: pointer;
  min-width: 80px;
  border-radius: 25px;
  padding: 0.4em 1em;
}
.rectangle28__danger {
  background: #ff4785;
  box-shadow: 0px 5px 25px 0px #ff4785 /* plasmic-token: 06fnPBFvN */;
}
.rectangle28__login {
  width: 100px;
}
.root:hover .rectangle28 {
  transform: scaleX(1.04) scaleY(1.04) scaleZ(1.01);
  box-shadow: 0px 5px 25px 0px #73c7ff;
  background: #5dbeff;
  transform-style: preserve-3d;
}
.root:hover .rectangle28 * {
  transform-style: preserve-3d;
}
.root__danger:hover .rectangle28__danger {
  background: #ff4785;
  box-shadow: 0px 5px 25px 0px #ff4785 /* plasmic-token: 06fnPBFvN */;
  transform-style: preserve-3d;
}
.root__danger:hover .rectangle28__danger * {
  transform-style: preserve-3d;
}
.freeBox {
  display: flex;
  width: auto;
  align-self: center;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slotTargetChildren {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  line-height: 1.75;
  letter-spacing: 0em;
}
