.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 22vw;
  height: 13vh;
  align-items: center;
  justify-content: flex-start;
  background: url("/plasmic/cash_flow/images/linespng.png") 0% 0% / 25% 25% repeat, #ffffff;
  box-shadow: 15px 15px 40px 4px #1f7ebd40;
  transform: none;
  transition-property: all;
  transition-duration: 0.25s;
  border-radius: 12px;
  padding: 2.5em;
}
.root:hover {
  transform: scaleX(1.02) scaleY(1.02) scaleZ(1.02);
  transform-style: preserve-3d;
}
.root:hover * {
  transform-style: preserve-3d;
}
.img {
  position: relative;
  object-fit: cover;
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 25px 0px rgba(115, 199, 255, 1);
  display: block !important;
  overflow: hidden;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 5px;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__pRzb8 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: none;
  width: 100%;
  height: auto;
  align-self: center;
  min-width: 0;
  margin: 2em;
}
.freeBox__pRzb8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  min-width: 0;
  margin-top: calc(0px - 0.2em);
  height: calc(100% + 0.2em);
}
.freeBox__pRzb8 > :global(.__wab_flex-container) > *,
.freeBox__pRzb8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pRzb8 > :global(.__wab_flex-container) > picture > img,
.freeBox__pRzb8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0.2em;
}
.text {
  display: block;
  font-size: 1.04vw;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.1499899999999998;
  color: rgba(0, 128, 214, 1);
  width: auto;
  align-self: flex-start;
  margin-top: calc(0em + 0.2em) !important;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
}
.freeBox__fPlZz {
  display: flex;
  width: auto;
  align-self: flex-start;
  margin-top: calc(0em + 0.2em) !important;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  flex-direction: row;
}
.slotTargetCashText {
  font-family: "Manrope", sans-serif;
  font-size: 1.8vw;
  font-weight: 700;
  color: rgba(0, 128, 214, 1);
  line-height: 1.1499899999999998;
  letter-spacing: 0em;
}
