.root {
  background: url("/plasmic/cash_flow/images/wavesBgpng.png") 0% 0% / auto auto repeat;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  min-width: 0;
}
.sideMenu:global(.__wab_instance) {
  position: relative;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.svg__dig3J {
  position: relative;
  object-fit: cover;
  width: 7.13em;
  height: 7.13em;
  display: block;
  top: auto;
  left: auto;
  filter: none;
  color: #b7e2ff;
}
.freeBox__rVunt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__xaBjN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.balanceCard:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  margin: 0.5em;
}
.title2 {
  width: auto;
}
.freeBox___1JIJi {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 40vh;
  width: auto;
}
.freeBox___1JIJi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: calc(0px - 0em);
  height: calc(100% + 0em);
}
.freeBox___1JIJi > :global(.__wab_flex-container) > *,
.freeBox___1JIJi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1JIJi > :global(.__wab_flex-container) > picture > img,
.freeBox___1JIJi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0em;
}
.incomeCard:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.expenseCard:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.freeBox___8Ac9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.historyCard:global(.__wab_instance) {
  position: relative;
  margin-top: 2vh;
  flex-shrink: 0;
}
.transaction__vSu4J:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
  margin: 1.4vh /* plasmic-token: BER96JSNi */;
}
.transaction__zHq0J:global(.__wab_instance) {
  position: relative;
  width: 100%;
  align-self: auto;
  min-width: 0;
  margin: 1.4vh /* plasmic-token: BER96JSNi */;
}
.text___6JqtO {
  white-space: pre;
  text-overflow: clip !important;
  overflow: hidden;
  width: auto;
}
.transaction__sva6R:global(.__wab_instance) {
  position: relative;
  margin: 1.4vh /* plasmic-token: BER96JSNi */;
}
.transaction__hFdMz:global(.__wab_instance) {
  position: relative;
  margin: 1.4vh /* plasmic-token: BER96JSNi */;
}
