@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&family=Manrope%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Reem+Kufi%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");
.all {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
.img {
  composes: all;
  display: inline-block;
}
.span {
  composes: all;
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
.input {
  composes: all;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
.textarea {
  composes: all;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
.button {
  composes: all;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
.code {
  composes: all;
  font-family: inherit;
  line-height: inherit;
}
.pre {
  composes: all;
  font-family: inherit;
  line-height: inherit;
}
.p {
  composes: all;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
.h1 {
  composes: all;
  font-size: inherit;
  font-weight: inherit;
}
.h2 {
  composes: all;
  font-size: inherit;
  font-weight: inherit;
}
.h3 {
  composes: all;
  font-size: inherit;
  font-weight: inherit;
}
.h4 {
  composes: all;
  font-size: inherit;
  font-weight: inherit;
}
.h5 {
  composes: all;
  font-size: inherit;
  font-weight: inherit;
}
.h6 {
  composes: all;
  font-size: inherit;
  font-weight: inherit;
}
.address {
  composes: all;
  font-style: inherit;
}
.a {
  composes: all;
  color: inherit;
}
.ol {
  composes: all;
  list-style-type: none;
  padding: 0;
}
.ul {
  composes: all;
  list-style-type: none;
  padding: 0;
}
.select {
  composes: all;
  padding: 2px 6px;
}
.li {
  composes: all;
  list-style-type: none;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
