.root {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 38vh;
  box-shadow: 15px 15px 40px 4px #1f7ebd33;
  background: url("/plasmic/cash_flow/images/waves.svg") left 60% top -45% / 150% 150% repeat-x,
    url("/plasmic/cash_flow/images/linespng.png") 0% 0% / 18% 18% repeat, #ffffff;
  transition-property: all;
  transition-duration: 0.3s;
  position: relative;
  border-radius: 12px;
  padding: 3em 4em 4em 7.5em;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 0px;
}
.root:hover {
  transform: scaleX(1.02) scaleY(1.02) scaleZ(1.02);
  transform-style: preserve-3d;
}
.root:hover * {
  transform-style: preserve-3d;
}
.title {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  min-width: 0;
  flex-shrink: 0;
}
.img {
  position: absolute;
  object-fit: cover;
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 25px 0px rgba(115, 199, 255, 1);
  display: block !important;
  top: -34%;
  left: -4em;
  overflow: hidden;
  align-self: flex-start;
  right: auto;
  bottom: auto;
  flex-shrink: 0;
  border-radius: 6px;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.slotTargetTitle {
  font-family: "Manrope", sans-serif;
  font-size: 1.25vw;
  font-weight: 700;
  color: rgba(0, 128, 214, 1);
  line-height: 1.75;
  letter-spacing: 0em;
}
.balanceNumber {
  display: flex;
  align-self: flex-start;
  width: 100%;
  flex-direction: row;
  min-width: 0;
}
.slotTargetBalanceNumber {
  font-family: "Manrope", sans-serif;
  font-size: 1.88vw;
  font-weight: 800;
  color: rgba(0, 128, 214, 1);
  line-height: 1.546;
  letter-spacing: 0.05em;
}
.button:global(.__wab_instance) {
  position: relative;
}
.text {
  height: auto;
}
