.root {
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.freeBox__a6B4S {
  display: flex;
  position: relative;
  flex-direction: row;
  background: none;
  width: 14em;
  height: 2.94em;
  min-height: 2.94em;
  max-height: 2.94em;
  pointer-events: none;
  cursor: pointer;
  transform: none;
  transition-property: transform;
  transition-duration: 0.4s;
  flex-shrink: 0;
  padding: 1.25em /* plasmic-token: QK7EXyXQo */;
}
.freeBox__a6B4S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__a6B4S > :global(.__wab_flex-container) > *,
.freeBox__a6B4S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a6B4S > :global(.__wab_flex-container) > picture > img,
.freeBox__a6B4S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox__selected__a6B4SYo4X0 {
  background: #37afff;
  box-shadow: 0px 8px 25px -1px #94d4ff;
  border-radius: 15px 8px 8px 15px;
}
.root:hover .freeBox__a6B4S {
  transform: scaleX(1.05) scaleY(1.05) scaleZ(1.05);
  transform-style: preserve-3d;
}
.root:hover .freeBox__a6B4S > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
}
.root:hover .freeBox__a6B4S * {
  transform-style: preserve-3d;
}
.root__selected:hover .freeBox__selected__a6B4SYo4X0 {
  transform: scaleX(1.05) scaleY(1.05) scaleZ(1.05);
  transform-style: preserve-3d;
}
.root__selected:hover
  .freeBox__selected__a6B4SYo4X0
  > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
}
.root__selected:hover .freeBox__selected__a6B4SYo4X0 * {
  transform-style: preserve-3d;
}
.slotTargetIcon {
  color: #808080;
}
.slotTargetIcon > *,
.slotTargetIcon > .__wab_slot > *,
.slotTargetIcon > .__wab_slot > .__wab_slot > *,
.slotTargetIcon > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetIcon > picture > img,
.slotTargetIcon > .__wab_slot > picture > img,
.slotTargetIcon > .__wab_slot > .__wab_slot > picture > img,
.slotTargetIcon > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.25s;
}
.slotTargetIcon__selected {
  color: #ffffff;
}
.root:hover .slotTargetIcon {
  color: #595959;
}
.root__selected:hover .slotTargetIcon__selected {
  color: #ffffff;
}
.svg__nlzAf {
  position: relative;
  object-fit: cover;
  width: 26.9px;
  height: 26.857px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transform: none;
  display: block;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.freeBox__s1TT0 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  transition-property: all;
  transition-duration: 0.4s;
}
.slotTargetText {
  font-family: "Reem Kufi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #808080 /* plasmic-token: h9gH8Mq9- */;
  line-height: 1.546;
  letter-spacing: 0em;
}
.slotTargetText > *,
.slotTargetText > .__wab_slot > *,
.slotTargetText > .__wab_slot > .__wab_slot > *,
.slotTargetText > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetText > picture > img,
.slotTargetText > .__wab_slot > picture > img,
.slotTargetText > .__wab_slot > .__wab_slot > picture > img,
.slotTargetText > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  transition-property: all;
  transition-duration: 0.25s;
}
.slotTargetText__selected {
  color: #ffffff /* plasmic-token: Fid6Qaglj */;
}
.root:hover .slotTargetText {
  color: #595959;
}
.root__selected:hover .slotTargetText__selected {
  color: #ffffff;
}
