.root {
  background: url("/plasmic/cash_flow/images/wavesBgpng.png") 0% 0% / auto auto repeat;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.sideMenu:global(.__wab_instance) {
  position: relative;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.svg__sjW50 {
  position: relative;
  object-fit: cover;
  width: 7.13em;
  height: 7.13em;
  display: block;
  top: auto;
  left: auto;
  filter: none;
  color: #b7e2ff;
}
.freeBox__fdYuZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.requestCard:global(.__wab_instance) {
  position: relative;
}
.transferCard:global(.__wab_instance) {
  position: relative;
}
.freeBox__piOQd {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  bottom: 1em;
  right: 1em;
  width: auto;
  height: auto;
}
