.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  justify-content: flex-start;
  align-items: center;
  padding-top: 14vh;
  min-width: 0;
}
.logo {
  width: 295px;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom-width: 2px;
  border-bottom-color: #37afff /* plasmic-token: Cl5uf568C */;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  flex-shrink: 0;
  margin: 2em;
  border-style: none;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 67px;
  color: #0081d7;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: block;
  top: auto;
  left: auto;
  overflow: hidden;
  align-self: center;
  flex-shrink: 0;
}
.text__mmLf2 {
  display: block;
  font-size: 34px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.546;
  color: #0080d6;
  width: 6em;
  align-self: center;
  flex-shrink: 0;
}
.username:global(.__wab_instance) {
  position: relative;
  width: 16vw;
  margin: 2em;
}
.password:global(.__wab_instance) {
  position: relative;
  width: 16vw;
  margin: 0.5em 2em 2em;
}
.submit:global(.__wab_instance) {
  position: relative;
  margin: 2em;
}
.text__xqCm {
  height: auto;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  bottom: 2em;
  right: 2em;
  width: auto;
  height: auto;
}
.text___9ESnp {
  position: absolute;
  align-self: center;
  top: auto;
  bottom: 25px;
  color: #535353;
  font-family: "Reem Kufi", sans-serif;
  font-size: 18px;
}
