.root2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 16em;
  height: 100%;
  background: #ffffff;
  box-shadow: 12px 4px 50px 0px #00000033;
  min-height: 0;
}
.logo {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px 0px 0px;
}
.svg__lxSfT {
  position: relative;
  object-fit: cover;
  width: 47px;
  height: 56px;
  color: #0081d7;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: block;
  top: auto;
  left: auto;
  overflow: hidden;
  align-self: stretch;
  flex-shrink: 0;
}
.text___0XqzQ {
  display: block;
  font-size: 26px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.546;
  color: #0080d6;
  width: 6em;
  align-self: center;
  flex-shrink: 0;
}
.profile {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 6vh /* plasmic-token: 5qvmteYyf */;
}
.profile > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.profile > :global(.__wab_flex-container) > *,
.profile > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.profile > :global(.__wab_flex-container) > picture > img,
.profile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.slotTargetProfileImage {
  color: #b7e2ff;
}
.svg__lrv2A {
  position: relative;
  object-fit: cover;
  width: 7.13em;
  height: 7.13em;
  display: block;
  top: auto;
  left: auto;
  filter: none;
  color: #b7e2ff;
  flex-shrink: 0;
}
.slotTargetUsername {
  font-family: "Reem Kufi", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: rgba(0, 128, 214, 1);
  text-align: center;
  line-height: 1.546;
  letter-spacing: 0em;
}
.dashboard:global(.__wab_instance) {
  margin: 6vh /* plasmic-token: 5qvmteYyf */ 0px 0px;
}
.svg__tqdVv {
  position: relative;
  object-fit: cover;
  width: 26.9px;
  height: 26.857px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transform: translate(0.41499999999999915px, -0.4490000000000123px);
  display: block;
  top: auto;
  left: auto;
}
.transfer:global(.__wab_instance) {
  margin-top: 4vh /* plasmic-token: U2XCLNMQO */;
}
.svg__mhBPt {
  position: relative;
  object-fit: cover;
  width: 26.9px;
  height: 26.857px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transform: translate(0.41499999999999915px, -0.4490000000000123px);
  display: block;
  top: auto;
  left: auto;
}
.text__duyfO {
  height: auto;
  font-size: 15px;
}
.auction:global(.__wab_instance) {
  margin-top: 4vh /* plasmic-token: U2XCLNMQO */;
}
.svg__yiGI {
  position: relative;
  object-fit: cover;
  width: 26.9px;
  height: 26.857px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transform: translate(0.41499999999999915px, -0.4490000000000123px);
  display: block;
  top: auto;
  left: auto;
}
.text__pWgyL {
  height: auto;
  font-size: 16px;
}
.settings:global(.__wab_instance) {
  margin-top: 4vh /* plasmic-token: U2XCLNMQO */;
}
.svg__uKNra {
  position: relative;
  object-fit: cover;
  width: 26.9px;
  height: 26.857px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transform: translate(0.41499999999999915px, -0.4490000000000123px);
  display: block;
  top: auto;
  left: auto;
}
.text___5BnHf {
  height: auto;
  font-size: 16px;
}
.logout:global(.__wab_instance) {
  align-self: auto;
  margin: 4vh /* plasmic-token: U2XCLNMQO */ 0em 38%;
}
.svg__flnjf {
  position: relative;
  object-fit: cover;
  width: 26.9px;
  height: 26.857px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transform: translate(0.41499999999999915px, -0.4490000000000123px);
  display: block;
  top: auto;
  left: auto;
  color: #ff4785 /* plasmic-token: 06fnPBFvN */;
}
.text__eq87U {
  height: auto;
  font-size: 16px;
  color: #ff4785 /* plasmic-token: 06fnPBFvN */;
}
.text__cd16 {
  position: relative;
  width: 167px;
  height: 34px;
  align-self: center;
  text-align: center;
  font-family: "Reem Kufi", sans-serif;
  color: #808080 /* plasmic-token: h9gH8Mq9- */;
  flex-shrink: 0;
  margin: auto auto 1.8em;
}
