.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  transition-property: all;
  transition-duration: 0.4s;
  cursor: pointer;
  min-width: 0;
  padding: 0.2em 1em;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0.8em);
  width: calc(100% + 0.8em);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0.8em;
}
.root:hover {
  transform: scaleX(1.02) scaleY(1.02) scaleZ(1);
}
.img {
  position: relative;
  object-fit: cover;
  width: 30px;
  height: 30px;
  box-shadow: 4px 4px 15px 0px rgba(182, 225, 255, 1);
  display: block !important;
  top: auto;
  left: auto;
  overflow: hidden;
  align-self: center;
  flex-shrink: 0;
  border-radius: 5px;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__outgoing {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}
.img__outgoing * {
  transform-style: preserve-3d;
}
.freeBox__fikkp {
  display: flex;
  align-self: center;
  width: 12vw;
  flex-direction: row;
  flex-shrink: 0;
}
.slotTargetTransactionText {
  font-family: "Reem Kufi", sans-serif;
  font-size: 0.85vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  line-height: 1.75;
  letter-spacing: 0em;
}
.freeBox__q5Gzl {
  display: flex;
  align-self: center;
  margin-left: calc(12vw + 0.8em) !important;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  justify-content: flex-end;
  flex-direction: row;
  width: 3vw;
  flex-shrink: 0;
}
.freeBox__outgoing__q5Gzlvewoa {
  margin-left: calc(12vw + 0.8em) !important;
}
.slotTargetTransactionAmount {
  font-family: "Manrope", sans-serif;
  font-size: 0.85vw;
  font-weight: 800;
  color: #000000 /* plasmic-token: rrP5dHPjo */;
  text-align: right;
  line-height: 1.75;
  letter-spacing: 0em;
}
.slotTargetTransactionAmount__outgoing {
  color: #ff4785 /* plasmic-token: 06fnPBFvN */;
}
