.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40vw;
  height: 44vh;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/cash_flow/images/wavesBg2Png.png") left 0em bottom -34% / contain repeat-x,
    url("/plasmic/cash_flow/images/linespng.png") 0% 0% / 16% 16% repeat, #ffffff;
  transition-property: all;
  transition-duration: 0.25s;
  box-shadow: 15px 15px 40px 4px #37afff40;
  transform: none;
  border-radius: 12px;
  padding: 1.5em;
}
.root:hover {
  transform: scaleX(1.02) scaleY(1.02) scaleZ(1.02);
  transform-style: preserve-3d;
}
.root:hover * {
  transform-style: preserve-3d;
}
.group1 {
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.group1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 1.2em);
  width: calc(100% + 1.2em);
}
.group1 > :global(.__wab_flex-container) > *,
.group1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.group1 > :global(.__wab_flex-container) > picture > img,
.group1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 1.2em;
}
.img {
  position: relative;
  object-fit: cover;
  width: 35px;
  height: 35px;
  box-shadow: 0px 4px 25px 0px rgba(115, 199, 255, 1);
  display: block !important;
  top: auto;
  left: auto;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 5px;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.title2 {
  display: block;
  font-size: 1.25vw;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.75;
  color: rgba(0, 128, 214, 1);
  align-self: center;
  width: auto;
  text-align: center;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  width: auto;
  margin: 2vh 0vh 0vh;
}
.root:hover .freeBox {
  margin-top: 2vh;
}
.transaction__i1RjH:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
  margin: 1.4vh /* plasmic-token: BER96JSNi */;
}
.transaction__lQvnw:global(.__wab_instance) {
  position: relative;
  width: 100%;
  align-self: auto;
  min-width: 0;
  margin: 1.4vh /* plasmic-token: BER96JSNi */;
}
.text__ijXr4 {
  white-space: pre;
  text-overflow: clip !important;
  overflow: hidden;
  width: auto;
}
.transaction__nwaF3:global(.__wab_instance) {
  position: relative;
  margin: 1.4vh /* plasmic-token: BER96JSNi */;
}
.transaction__rFkkU:global(.__wab_instance) {
  position: relative;
  margin: 1.4vh /* plasmic-token: BER96JSNi */;
}
