@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.container {
    font-family: 'Manrope', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: rgba(0, 128, 214, 1);
    transition: 0.4s;
}

.svgImage {
    width: 12em;
}

.title {
    font-weight: 800;
    transition: 0.4s;
}

.title::after {
    display: inline-block;
    animation: dotty steps(1, end) 4s infinite;
    content: '';
    transition: 0.4s;
}

@keyframes dotty {
    0% {
        content: '';
    }

    25% {
        content: '.';
    }

    50% {
        content: '..';
    }

    75% {
        content: '...';
    }

    100% {
        content: '';
    }
}

.link {
    text-decoration: underline solid transparent;
    transition: text-decoration 0.4s ease;
    display: block;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline solid Currentcolor;
}